* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  width: 280px;
}
.form-acceso {
  width: 300px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -150px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-input {
  height: 30px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  outline: #d500f9;
  transition: all 1s;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-input:hover{
    outline: auto #9e00c5;
}
.button-group button {
  padding: 5px;
  cursor: pointer;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 49%;
}

.button-primary {
  background: blueviolet;
  color: white;
  transition: all 1s;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button-secondary {
  background: red;
  color: white;
  transition: all 1s;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button-primary:hover {
    background-color: #ff5bff;
    font-size: 14px;
}
.button-secondary:hover {
    background-color: #9e00c5;
    font-size: 14px;
}